/* Google Font Monsterrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}


/* Media Query  */
@media only screen and (max-width: 600px) {
    /* body {
      background-color: lightblue !important;
    } */
    .container{
        padding: 20px !important;
    }
    .bullet-left{
        width: 100% !important;
        font-size: 15px !important;
    }
    .about-para{
        font-size: 17px !important;
        text-align: justify;
        /* padding: 20px !important; */
    }
  }
  


body{
    background-color: #F6F6F6;
}

.fs-25{
    font-size: 25px;
}

/* Navabr  */
.nav-menu{
    list-style: none;
}
.navbar-brand{
    font-weight: 600;
    font-size: 26px;
    /* color: rgb(32, 190, 173); */
    color: black;
}
.navbar-brand>span{
    color: rgb(32, 190, 173);
}

.nav-item{
    margin: 0px 10px;
}

.nav-item>*, .nav-link{
    font-size: 18px;
    color: rgb(61, 77, 105);
    font-weight: 500;
}

.nav-link:hover{
    color: rgb(32, 190, 173);
}

.nav-btn{
    font-size: 18px;
}



/* Main Hero Container */
.main-hero{
    padding: 3rem 0rem;
}
.hero-img-container>img{
    width: 100%;
    /* min-width: 600px;
    min-height: 600px; */
}

.bdr{
    border: 2px solid red;
}

.hero-heading{
    font-weight: 700;
    font-size: 60px;
}
.hero-heading>span{
    font-size: 40px;
}

.hero-moto{
    font-size: 40px;
    font-weight: 400;
}
.hero-skills{
    color: salmon;

}


/* Section 2 */
.s2-heading{
    font-size: 50px;
    font-weight: 600;
}
.mini-heading{
    font-size: 30px;
    /* color: salmon   ; */
    font-weight: 500;
}


.arrow-down{
    position: absolute;
    left: 50%;
    top: 94%;
}


/* 25 Feb  */
.section-heading{
    font-size: 50px  ;
    font-weight: 600;
}

.about-arrow{
    font-size: 30px;
}

.para{
    font-size: 20px;
}
.about-img > img{
    background-color:rgba(253, 205, 205, 0.837);
    border-radius: 50%;
    height: 300px;
}

.float-up-down {
    animation: floatUpDown 1.4s ease-in-out infinite alternate;
}

@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px); /* Adjust this value to control the floating distance */
    }
}

.bullet-container{
    height: 300px;
}

.bullet-left{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(224, 243, 234);
    padding: 15px;
    font-weight: 500;
}

/* .bullet-right{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: rgb(224, 243, 234);
    padding: 15px;
    font-weight: 500;
    right: 0px;
} */