/* Google Font Monsterrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #F6F6F6;
}


/* Navabr  */
.nav-menu{
    list-style: none;
}
.navbar-brand{
    font-weight: 600;
    font-size: 26px;
    /* color: rgb(32, 190, 173); */
    color: black;
}
.navbar-brand>span{
    color: rgb(32, 190, 173);
}

.nav-item{
    margin: 0px 10px;
}

.nav-item>*, .nav-link{
    font-size: 18px;
    color: rgb(61, 77, 105);
    font-weight: 500;
}

.nav-link:hover{
    color: rgb(32, 190, 173);
}

.nav-btn{
    font-size: 18px;
}



/* Main Hero Container */
.main-hero{
    padding: 3rem 0rem;
}
.hero-img-container>img{
    width: 100%;
    /* min-width: 600px;
    min-height: 600px; */
}

.bdr{
    border: 2px solid red;
}

.hero-heading{
    font-weight: 700;
    font-size: 60px;
}
.hero-heading>span{
    font-size: 40px;
}

.hero-moto{
    font-size: 40px;
    font-weight: 400;
}
.hero-skills{
    color: salmon;

}


/* Section 2 */
.s2-heading{
    font-size: 50px;
    font-weight: 600;
}
.mini-heading{
    font-size: 30px;
    /* color: salmon   ; */
    font-weight: 500;
}

.s2-para{
    font-size: 30px;
    margin-bottom: 0px;
}